__pycache__
venv/*
app/models/__pycache__/*
app/chrome_driver/*
app/autom/__pycache__/*
app/dev/*
app/data/__pycache__/*
app/utils/__pycache__/*
app/config/user.db 
app/config/__pycache__/*
app/cli/__pycache__/*
app/execlogs/__pycache__/*
app/UI/__pycache__/*
app/execlogs/logs.db
test.py
build
main.spec
compile.sh
ANOTACOES.txt 
