* {
    margin: 0;
    padding: 0;
}

body {width: 100%; height: 100%;}

#container-form-user-credentials {
    width: 400px;
    height: max-content;
    margin: 5% auto;
    padding: 20px;

    background-color: rgba(10, 10, 10, .1);
    
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 2px rgba(10, 10, 10, .3);
}

#form-user-credentials {
    text-align: center;
}

#btn-save-credentials {
    margin-top: 30px;
}

#user-success-inserted-alert, .user-config-form-alert {
    margin: 20px auto 0 auto;
    width: 400px;
}

.container-content {
    width: 100%;
    height: 100%; 
}

.backdrop-alert {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 360px;
    margin: 20% auto;
}
    
.loading-alert strong {
    margin-top: 3px;
    margin-right: 10px;
}

.container-content-header {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: flex-start;

    width: inherit;
    height: 50px;

    background-color: #296ABC;
    border-bottom: 1px solid black;

    margin: 0;
    transition: .2s linear;
}

.header-system-title {
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-left: 10px;
    color: #FFF;
    font-weight: 800;
}

.header-system-title span {
    margin-left: 5px;
}

.separator {
    flex: 2;
}

.work-month-select-container {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    align-self: flex-end;

    color: #FFF;
    width: fit-content;
    height: inherit;

    font-weight: 400;
    font-size: normal;

    cursor: pointer;

    margin-right: 10px;
    border-left: .6px solid rgb(182, 171, 171);
}

.work-month-select-container label {
    margin-left: 10px;
    margin-right: 5px;

    cursor: pointer;
}

.work-month-select-container select {
    cursor: pointer;
    width: 80px;
}

.perfil {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    width: fit-content;
    height: inherit;

    color: #FFF;
    border-left: .6px solid rgb(182, 171, 171);
    padding-left: 5px;
    
    cursor: pointer;
}

.perfil #username, .username-link {
    text-decoration: none;
    color: #FFF;
}

.perfil #username:hover {
    text-decoration: underline;
}

.perfil-modal-info {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 60px;
    right: 20px;

    width: 160px;

    background-color: rgba(10, 10, 10, .1);

    color: rgba(10, 10, 10, .7);
    border: 1px solid rgba(10, 10, 10, .3);

    box-shadow: 2px 2px 2px rgba(10, 10, 10, .3);;
    border-radius: 5px;

    font-size: small;
    transition: .2s all;
}

.perfil h6 {
    padding-top: 10px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
}

.perfil .sep {
    border-bottom: 1px solid rgba(10, 10, 10, .3);
    margin-bottom: 0;
}

.perfil-modal-items {
    display: flex;
    flex-direction: column;
}

.perfil-modal-item {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-evenly;

    width: inherit;
    height: 30px;
}

.perfil-modal-item:hover {
    background-color: rgba(158, 158, 158, 0.9);
    color: rgba(255, 255, 255, 0.8);
}

.item-title {
    font-size: medium;
    flex: 2;
    margin-left: 5px;
}

.item-title a {
    width: 70%;
    height: inherit;

    color: rgba(10, 10, 10, .8);
    text-decoration: none;

    font-size: small;
    margin: 0;
    padding: 5px;
}

.item-title a:hover {
    color: rgba(255, 255, 255, 0.8);
}

.item-icon {
    margin-right: 5px;
}

.footer-info {
    width: 100%;
    height: 25px;

    background-color: rgb(238, 238, 238);

    display: flex;
    align-items: center;
    justify-content: center;
    
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    font-size: small;
}

.footer-info svg {
    margin-bottom: 2px;
}

.footer-info a {
    margin-left: 4px;
    color: rgba(24, 23, 23, 0.919);
    text-decoration: none;
}